.movie-info
  display: flex
  align-items: center
  flex-direction: column
  overflow: hidden
  width: min-content
  min-width: 500px
  margin: 20px auto 0
  text-align: center

  &__img
    width: 50%
    max-width: 100%
    display: block
    object-fit: cover

  &__title
    margin: 10px 0

  &__desc
    margin-bottom: 10px

  &__item
    span
      font-weight: bold
