.card
  overflow: hidden
  border-radius: 5px
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5)
  width: min-content
  min-width: 300px
  margin: 20px auto 0

  &__img
    height: 300px
    width: 100%
    display: block
    object-fit: cover

  &__wrap
    padding: 10px
    text-align: center

  &__title
    margin-bottom: 10px

  &__link
    display: block
    margin-top: 15px
