.search
  display: flex
  justify-content: center
  max-width: 500px
  margin: 0 auto 20px

  &__input
    position: relative
    margin-right: 15px

    &.is-filled
      label
        top: 0
        font-size: 10px

    &:focus-within
      label
        top: 0
        font-size: 10px
        color: #4d4dff

      input
        border-color: #4d4dff

    label
      position: absolute
      top: 50%
      left: 10px
      transform: translateY(-50%)
      background-color: #fff
      transition: top .3s ease-in-out, font-size .3s ease-in-out

    input
      outline: none
      border: 1px solid #c4c4c4
      border-radius: 5px
      padding: 12px 15px

  &__button
    border: 0
    border-radius: 5px
    padding: 12px 15px
    background-color: #4d4dff
    color: #fff
